.big-button{
    background: $purple;
    border: none;
    border-bottom: $s-size solid darken($color: $purple, $amount: 10%);
    width: 100%;
    font-size: $l-size;
    color: floralwhite;
    padding: $l-size;
    font-weight: bold;
    margin-bottom: $s-size;
}

.big-button:disabled{
    opacity: 0.5;
}

.button{
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($color: $purple, $amount: 10%);
    color: floralwhite;
    font-weight: 500;
    padding: $s-size;
}

.button--link{
    background: none;
    color: $off-white;
    border: none;
    padding: 0;
}

@media (min-width: $desktop-breakpoint){
    .big-button{
        margin-bottom: $l-size;
    }
}